@import url('https://fonts.googleapis.com/css?family=Sanchez|Roboto:700i');

html{
  background:url(../assets/dark_wood.png);
  height: 100%;
}
body{
  font-family: 'Sanchez',sans-serif;
  background: none;
}
h1, h2, h3, h4, h5, h6{
  font-family: "Roboto",serif;
  color: white;
}

hr{
  background-color: grey;
  width: 50%;
}
p{
  font-family: 'Sanchez',sans-serif;
  font-size: 1.1rem;
}

.heading{
font-family: 'Roboto',serif;
}

.bg-inverse{
  background-color: rgba(41,43,44,0.82)!important;
}

a.navbar-brand{
  font-family: "Sanchez";
  font-size: 30px;
  font-weight: bold;
}

.row p{
  color: white;
}

.intro-text .name {
  display: block;
  font-family: "Sanchez", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.intro-text .skills {
  font-size: 1.75em;
  font-weight: 300;
  font-style: italic;
}

.portfolio-item{
    display: block;
    margin-left: 5%;
    margin-right:5%;
}

.portfolio-item a
{
	background: white;
	display: inline;
	float: left;
	margin: 0 15px 30px;
	padding: 10px 10px 25px;
	text-align: center;
	text-decoration: none;
	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
	box-shadow: 0 4px 6px rgba(0,0,0,.3);
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	transition: all .15s linear;
	z-index:0;
        position:relative;
}

.portfolio-item a:after{
  color: #333;
  font-size: 1.25rem;
  content: attr(title);
  position: relative;
  top: 15px;
}

.portfolio-item img{
  display: block;
  width: inherit;
  margin:auto;
}

.portfolio-item a:nth-child(2n)
{
	-webkit-transform: rotate(4deg);
	-moz-transform: rotate(4deg);
	transform: rotate(4deg);
}
.portfolio-item a:nth-child(3n) {
	-webkit-transform: rotate(-12deg);
	-moz-transform: rotate(-12deg);
	transform: rotate(-12deg);
}
.portfolio-item a:nth-child(4n)
{
	-webkit-transform: rotate(14deg);
	-moz-transform: rotate(14deg);
	transform: rotate(14deg);
}
.portfolio-item a:nth-child(5n)
{
	-webkit-transform: rotate(-16deg);
	-moz-transform: rotate(-16deg);
	transform: rotate(-16deg);
}

.portfolio-item a:hover{
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
        transform: rotate(0deg);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
        transform: scale(1.2);
	z-index:10;
	-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
	-moz-box-shadow: 0 10px 20px rgba(0,0,0,.7);
        box-shadow: 0 10px 20px rgba(0,0,0,.7);
}

#logo{
  height: 60px;
  margin-bottom: 5px;
  display: inline;
}

#navToggle{
  margin-top: 15px;
}

#fa{
  margin-left: .25em;
  margin-right: .25em;
  color: #4f98ff;
}

#mainWrap{
}

#aboutMe{
    background-color: rgba(41,43,44,0.82);
    margin-top: 2em;
    padding-top: 1em;
    border-radius: 5px;
}

#portfolio{
  margin-top: 2em;
  padding-top: 1em;
}

#portfolio hr{
  margin-bottom: 3em;
}

#mainImg{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 2em;
    margin-bottom: 2em;
}

#balance{
  padding-top: .5em;
  padding-bottom: .5em;
  color:gold;
}

@media (max-width: 375px){
  a.navbar-brand{
    font-family: "Sanchez";
    font-size: 20px;
    font-weight: bold;
  }
  #logo{
    height: 50px;
    margin-bottom: 5px;
    display: inline;
  }
  #navToggle{
    margin-top: 10px;
  }
  .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
  }
}

@media (max-width: 485px){
  #mainImg{
    height:11em;
  }
  p{
    font-family: 'Sanchez',sans-serif;
    font-size: 1rem;
  }
  .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
  }

}

@media (min-width: 768px) {
  .intro-text .name {
    margin-left: auto;
    margin-right: auto;
  }
  .intro-text .skills {
    font-size: 1.75em;
  }
.col-md-10{
    max-width: 100% !important;
  }
}
