@import url('https://fonts.googleapis.com/css?family=Sanchez|Roboto:700i');

html{
  background:url(../assets/dark_wood.png);
  height: 100%;
}
body{
  font-family: 'Sanchez',sans-serif;
  background: none;
}
h1, h2, h3, h4, h5, h6{
  font-family: "Roboto",serif;
  color: white;
}

hr{
  background-color: grey;
  width: 50%;
}

p{
  font-family: 'Sanchez',sans-serif;
  font-size: 1.25rem;
}

.heading{
font-family: 'Roboto',serif;
}

.bg-inverse{
  background-color: rgba(41,43,44,0.82)!important;
}

a.navbar-brand{
  font-family: "Sanchez";
  font-size: 30px;
  font-weight: bold;
}

.row p{
  color: white;
}

.intro-text .name {
  display: block;
  font-family: "Sanchez", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.intro-text .skills {
  font-size: 1.75em;
  font-weight: 300;
  font-style: italic;
}

#logo{
  height: 60px;
  margin-bottom: 5px;
  display: inline;
}

#navToggle{
  margin-top: 15px;
}

#fa{
  margin-left: .25em;
  margin-right: .25em;
  color: #4f98ff;
}

#mainWrap{
}

#aboutMe{
    background-color: rgba(41,43,44,0.82);
    margin-top: 2em;
    padding-top: 1em;
    border-radius: 5px;
}

#mainImg{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 2em;
    margin-bottom: 2em;
}

#balance{
  padding-top: .5em;
  padding-bottom: .5em;
  color:gold;
}

@media (max-width: 375px){
  a.navbar-brand{
    font-family: "Sanchez";
    font-size: 20px;
    font-weight: bold;
  }
  #logo{
    height: 50px;
    margin-bottom: 5px;
    display: inline;
  }
  #navToggle{
    margin-top: 10px;
  }
  .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
  }
}

@media (max-width: 485px){
  #mainImg{
    height:11em;
  }
  p{
    font-family: 'Sanchez',sans-serif;
    font-size: 1rem;
  }
  .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
  }

}

@media (min-width: 768px) {
  .intro-text .name {
    margin-left: auto;
    margin-right: auto;
  }
  .intro-text .skills {
    font-size: 1.75em;
  }
.col-md-10{
    max-width: 100% !important;
  }
}
